<div class="container">
  <div class="chat-container" *ngIf="selectedUserId; else loading">
    <div *ngIf="Messages | async as messages">
      <div
        *ngFor="let message of messages"
        class="col-md-10 m-auto my-2 bg-light shadow p-4 border"
      >
        <p>
          <strong
            >{{ message.senderId === currentUserId ? "Me" : "Them" }}:</strong
          >
          {{ message.text }}
        </p>
      </div>
    </div>
    <input
      class="sendMsg w-100"
      type="text"
      [(ngModel)]="newMessage"
      (keyup.enter)="sendMessage()"
      placeholder="Type a message..."
    />
    <button (click)="sendMessage()" class="btn btn-danger w-20">Send</button>
  </div>
</div>

<ng-template #loading>
  <div class="d-flex justify-content-center align-items-center vh-100">
    <i class="fa-solid fa-spinner fa-spin text-danger fa-6x"></i>
  </div>
</ng-template>
