<div class="container" *ngIf="productObservable | async as products; else loading">
    <div class="m-auto"><h3 class="text-danger mb-4 mt-4"><span>My wish list</span> </h3> </div>
    <div class="row mt-3">
        
        <div *ngFor="let item of products" class="col-md-10 m-auto my-2 bg-light shadow p-4 pt-2" >
            <div class="row border-bottom py-2 ">
                <div class="col-md-2">
                    <img [src]="item.data.imageCover" alt="img cover" class="w-100">
                </div>
                <div class="col-md-10 d-flex justify-content-between ">
                    <div>
                        <p>{{item.data.title}}</p>
                        <p>{{item.data.price}}</p>
                        <button class="btn btn-outline-danger" (click)="deleteFromWishlist(item.id)"><i class="fa-regular fa-trash-can"></i> Remove</button>
                    </div>
                    <div>
                        <button [routerLink]="['/productdetails',item.id]" class="btn btn-danger ">View details</button>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div> 

<ng-template #loading>
    <div class="d-flex justify-content-center align-items-center vh-100">
        <i class="fa-solid fa-spinner fa-spin text-danger fa-6x"></i>
    </div>
</ng-template>