<div class="container">
    <div class="users-list mat-elevation-z5">
       <div class="user-list">
        <mat-list>
          <mat-list-item *ngFor="let user of users" (click)="selectUser(user.uid)">
            <span>{{ user.name }}</span>
            <button mat-icon-button color="primary" (click)="redirectToChat(user)">
              <mat-icon>chat</mat-icon>
            </button>
          </mat-list-item>
        </mat-list>
      </div>
    </div>
    <div class="chat-container" *ngIf="selectedUserId">
      <div *ngFor="let message of messages">
        <p><strong>{{ message.sender === currentUserId ? 'Me' : 'Them' }}:</strong> {{ message.text }}</p>
      </div>
      <input class="sendMsg" type="text" [(ngModel)]="newMessage" (keyup.enter)="sendMessage()" placeholder="Type a message...">
      <button (click)="sendMessage()">Send</button>
    </div>
  </div>
  