.profile{
  position: "relative";
  top: 56px;
  min-height: 100vh;
  
}
.profileContainer{
    min-height: 100vh;
    margin-top: '60px' ;
}
.photo{
    height: 300px;
    width:300px ;
}
.products{
margin-bottom:10px ;
border: "1px solid #ccc"
}
